; Nexus OSS npm repository authentication
registry=http://3.94.130.113:8081/repository/solarman/
//3.94.130.113:8081/repository/solarman/:username=admin
//3.94.130.113:8081/repository/solarman/:_password=QWRtaW5AMTIz
//3.94.130.113:8081/repository/solarman/:always-auth=true
`
